@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

.navigation-bar{
    background-color: rgba(247, 211, 211, 0.418);
}


.navbar-title{
   text-decoration: none;

}
.logout{
    background-color: transparent;
    border: transparent;
    margin-bottom: 20px;
}
.nav-items{
    text-decoration: none;
    color: rgb(180, 22, 22);
   font-weight: 600;
    border-radius: 10px;
}
.nav-items:hover{
    color: red;
    background-color:rgba(219, 89, 89, 0.37);
}
.user-name{
    color: rgba(1, 40, 71, 0.692);
}